[2016-03-03 12:01] jstrachan opened #1 "demo using @HystrixCommand annotation on java code with a fallback method"
e.g. like this demo
https://github.com/nklmish/microservice-demo/blob/master/catalog-service/src/main/groovy/com/nklmish/cs/catalogs/integration/ProductBuilder.groovy#L23-L29

[2016-03-03 12:01] jstrachan opened #2 "create a demo of using Zipkin service tracing"
along with a docker/kubernetes packaging of the zipkin console

[2016-03-03 12:03] jstrachan opened #3 "new archetype for spring boot + hystrix we can include in the fabric8 forge wizard"
it'd be great to create a quickstart for folks wanting to write a microservice based on spring boot + RestTemplate + hystrix so we can do demos showing how to get started with kurbine and then run turbine etc

Adding a quickstart to this github organisation should do the trick:
https://github.com/fabric8-quickstarts

[2016-03-04 13:32] #1 closed

[2016-03-04 13:34] iocanel opened #14 "Modify the hystrix dashboard so that it defaults to the k8s turbine server."

[2016-03-04 16:05] iocanel opened #16 "HttpRequestTemplate should not be created for each request in ribbon example"

[2016-03-05 16:50] #16 closed

[2016-03-09 20:07] davsclaus commented on #3
Yeah this would be cool. Also should hysterix/turbine et all not be a package in devops or ipaas so its easier to install?

Would be nice if we can get the fabric8 console to show more packages out of the box that can install with click "run".

[2016-03-10 07:24] iocanel commented on #3
I agree we need to make it as easiest as possible to install.

However, I don't think that those apps should be move to devops or ipaas, simply because they are neither.

[2016-03-11 17:53] jstrachan opened #40 "support kubernetes service discovery inside Zuul?"
Folks might want to use Zuul to implement load balancing across multiple services using %age weightings etc. So it might be nice to support a Zuul plugin to do endpoint discovery for services Zuul talks to.

Ideally [ingress in kubernetes](http://kubernetes.io/docs/user-guide/ingress/) will hopefully be a more natively supported option; but having Zuul support in kubeflix will let folks familiar w

[2016-03-13 08:17] oscerd opened #41 "Set fabric8-deploy profile in examples, turbine-server and hystrix dashboard"

[2016-03-13 09:34] oscerd opened #43 "Upgrade to Docker-maven-plugin 0.14.2"

[2016-03-13 09:44] oscerd commented on #41
If we use the f8-local-deploy on the bank project we won't be able to specify multiple properties for this issue on maven

https://issues.apache.org/jira/browse/MNG-3328

[2016-03-13 09:44] oscerd commented on #41
With a single bank it works correctly, so we can specify this in docs.

[2016-03-14 08:29] #41 closed

[2016-03-14 08:30] #43 closed

[2016-03-18 19:17] christian-posta opened #50 "ribbon discovery for the credit-bureau doesn't work"
verify by running the demo and watching the hystrix circuit breaker report 100% failures. noticed this in demo @rajdavies and @jstrachan and i did this morning.

I have a fix coming in a sec.

[2016-03-18 19:22] #14 closed

[2016-03-18 19:23] iocanel commented on #50
@christian-posta: so it was always using the fallback score?

[2016-03-18 19:33] christian-posta commented on #50
I suppose so :)

On Fri, Mar 18, 2016 at 12:23 PM, Ioannis Canellos <notifications@github.com

--
*Christian Posta*
twitter: @christianposta
http://www.christianposta.com/blog
http://fabric8.io

[2016-03-18 19:38] iocanel commented on #50
I knew it! Why on earth would I get a score of 24 :-)

[2016-03-18 19:38] iocanel commented on #50
great catch btw!

[2016-03-18 19:42] christian-posta commented on #50
Well, you may still end up with a score of 24 :-D

On Fri, Mar 18, 2016 at 12:38 PM, Ioannis Canellos <notifications@github.com

--
*Christian Posta*
twitter: @christianposta
http://www.christianposta.com/blog
http://fabric8.io

[2016-03-19 03:44] mliu5715k opened #53 "failure to find turbine-discovery:jar"
maven can't find the needed snapshot, which repo should I use? can someone share the url?
[code]

[2016-03-19 08:07] iocanel commented on #53
@mliu5715k: The released artifacts are available at central: http://repo1.maven.org/maven2/io/fabric8/kubeflix/ I am not sure about snapshots, though (I don't think that we publish snapshots at this point).

Now, given that 1.0.14 is already released you could use this rather than 1.0.12-SNAPSHOT.

[2016-03-21 15:09] christian-posta commented on #50
Fixed with https://github.com/fabric8io/kubeflix/pull/51

[2016-03-21 15:09] #50 closed

[2016-03-21 15:10] christian-posta commented on #3
Is this the quick start that addresses this issue? https://github.com/fabric8io/ipaas-quickstarts/tree/master/quickstart/spring-boot/ribbon

https://github.com/fabric8io/ipaas-quickstarts/tree/master/archetypes/spring-boot-ribbon-archetype

[2016-03-21 15:12] christian-posta opened #54 "look at providing a Kubernetes ConfigMap backed Archaius plugin"
https://github.com/Netflix/archaius

[2016-03-21 15:32] davsclaus commented on #3
yeah the archetypes are created from the quickstarts. So there should be a 1:1

[2016-03-22 15:47] jstrachan opened #55 "ribbon client side load balancer should filter out pods that are not 'Ready'"
so we get to reuse the readiness probe results

[2016-03-23 18:23] mliu5715k opened #56 "project dependencies"
can someone list the dependencies for this project? The instructions are very brief, following it does not lead to successful builds

I am getting this error which i assume is because i don't have fabric8 installed. ```[ERROR] Failed to execute goal io.fabric8:docker-maven-plugin:0.14.2:build (default-cli) on project turbine-server: Execution default-cli of goal io.fabric8:docker-maven-plugin:0.14

[2016-03-23 18:25] mliu5715k commented on #53
@iocanel: thanks i replaced the version and am now getting different error, please see the new issue i submitted with regard to setup dependencies.
[code]

[2016-03-23 18:28] #53 closed

[2016-03-23 18:34] iocanel commented on #56
To build the project you just need:

    mvn clean install

If you also need to create docker images and apply kubernetes configuration you need to configure some environment variables:

- DOCKER_HOST: Url to the docker daemon (e.g. tcp://localhost:2375).
- KUBERNETES_MASTER: Url to the cabernets api master (e.g. https://localhost:8443)

This might be helpful too: http://fabric8.io/guide/mavenPlug

[2016-03-23 18:51] mliu5715k commented on #56
Yes, i do need to create docker images and deploy it to k8, and of course, test some basic use cases for turbine/hystrix.
where do I configure the variables? my shell in osx already has them
[code]

[2016-03-23 19:32] iocanel commented on #56
You need to configure them wherever you are running the build from.

If you are building from the command line, they need to be available as env variables (and they do seem to be).

If you are building from within your IDE, then you need to set them there too.

[2016-03-24 01:40] #56 closed

[2016-03-24 08:21] iocanel commented on #56
@mliu5715k: for future reference can you please comment on what was the cause of your issue?

[2016-03-24 08:25] iocanel commented on #55
@jstrachan: It seems that Kubernetes separates between "endpoint addresses" and "not ready endpoint addresses".  So from the ribbon discovery side we don't need to do anything at all.

Also experimented with adding a readiness probe in the loan broker example and it seems fine.

I'll add readiness probes to our existing examples and close the issue.

[2016-03-24 08:46] jimmidyson commented on #55
Yeah as long as your using endpoints & not using service selectors then readiness will be taken care of for you by Kubernetes. Make sure that you handle coming/going of same pod via readiness, it's a repeated check that adds/removes pods from endpoints as they pass/fail readiness probes without restarting the pod (that would be the purpose of liveness probes).

[2016-03-24 09:37] #55 closed

[2016-03-24 09:54] jstrachan commented on #55
awesome thanks!

[2016-03-28 18:50] mliu5715k commented on #56
it turns out i had previous Docker and K8 environment variables that's pointing to something else. Thanks.

[2016-04-01 03:11] mliu5715k opened #63 "exported docker image but didn't work"
I got the hello-hystrix example working in my vagrant sandbox, but couldn't get them working in my own k8 cluster with the same exported docker images.
I curled the turbine server and only got the heartbeat, it appears the turbine server is not finding any valid streams. Can you guys help check my labels? Anything needed besides "hystrix.enabled: true"?  also is there any other config required ins

[2016-04-05 19:51] mliu5715k opened #65 "turbine discovery question"
has anyone been able to get the turbine discovery working out side the fabric8 sandbox?

[2016-04-05 21:36] jimmidyson commented on #65
One for you @iocanel?

[2016-04-05 22:20] mliu5715k commented on #65
so everything seems to match except this error from "kubectl logs turbine-q6uop"

[code]

[2016-04-06 06:52] iocanel commented on #63
@mliu5715k: Turbine discovery is using 2 tables hystrix.enabled: true and also hystrix.cluster: "default".

At this point no other value other than "default" will work for hysterix.cluster (its a known) issue.

Other than that the turbine server will need to use a service account that will allow the pod to at least query endpoints.

[2016-04-06 06:55] iocanel commented on #65
@mliu5715k: Turbine not finding streams usually means that either there is a label mismatch in the pods or the service account on the turbine server is not correct (needs to be able to query endpoints).

For purely troubleshooting purposes the turbine server exposes /discovery which should display the discovered streams or a meaningful exception.

[2016-04-06 16:09] mliu5715k commented on #65
@iocanel: thank you, but some clarification would be very helpful.
- you mentioned label matching, besides using the two labels with correct values, there is really nothing to match as "using the same values in other pods/svs"?
[code]
- service account on turbine, do you mean how the turbine service object is defined in k8?
[code]
yes i can curl the cluster ip AND the endpoint
[code]

[2016-04-06 16:14] iocanel commented on #65
Yes, all pods that expose hysterix stream need the 2 hystrix lables, with the exact values.

Well the svc itself doesn't say much. It needs to be associated with an scc that allows access to the api server. But lets leave that for now....

Can you try a
curl http://192.168.1.80/discovery

and let me know of the output?

[2016-04-06 16:14] iocanel commented on #65
@mliu5715k: see my comment above.

[2016-04-06 16:20] mliu5715k commented on #65
@iocanel:
[code]

[2016-04-06 16:22] jimmidyson commented on #65
Indicates that DNS isn't configured properly in your cluster. Are you running the DNS addon for Kubernetes (I assume you're running vanilla kubernetes, not openshift)?

[2016-04-06 16:22] mliu5715k commented on #65
NOPE!
Can I get around that by using the ENV variables?

[2016-04-06 16:25] jimmidyson commented on #65
Of course you can (I think) :)

KUBERNETES_MASTER should contain the full address to the master. e.g. `https://your.master.com:8443`

But there may be other problems that you hit by not running DNS - that should really be a prerequisite for any kube cluster now IMO.

[2016-04-06 16:27] mliu5715k commented on #65
have to discuss that with our admin who has a thing against k8 DNS.

[2016-04-06 20:19] mliu5715k commented on #65
@jimmidyson: passing the ENV variable worked. Thanks!

[2016-04-06 20:20] #65 closed

[2016-04-06 20:21] #63 closed

[2016-04-06 20:22] mliu5715k commented on #63
lack of skydns was the cause see #65

[2016-04-06 20:34] jimmidyson commented on #65
Ah cool! Thanks for letting us know.

[2016-04-08 23:28] jmcclell commented on #40
This would be great!

[2016-04-12 02:13] raffaelespazzoli opened #71 "specifying the hystrix stream url"
hi,

there should be a way to specify where the hystrix stream can be found for the observed pods.
Not all webapps will have the hystrix stream at /hystrix.stream
For example many webapps will have a context root before that.

I started a similar project to what you're doing here and stopped when I saw that you guys where going to provide "official" support. I had solved this problem, you may want

[2016-04-12 06:10] rhuss opened #72 "Add <description> to pom"
so that it is properly shown in the fabric8 console.

See https://github.com/fabric8io/fabric8/issues/5920 for details.

[2016-04-12 08:01] #72 closed

[2016-04-12 08:33] iocanel commented on #71
Unfortunately, turbine's discovery mechanism stops to host and port and doesn't include path or something like this. So this pretty much rules out supporting pods with different paths.

So we are forced to use a path that will be global. But yes we need this path to be configurable.

I noticed that you are using a config.properties to specify that prefix, which is fine, but I think that we can fur

[2016-04-12 15:22] raffaelespazzoli commented on #71
@iocanel I actually overrode also the turbine initializer so to read the path from an environment variable that is passed to the turbine pod (actually implementing you second suggestion).
I realized I hadn't pushed that piece, you can find the code [here]( https://github.com/raffaelespazzoli/hystrix-kuberneters-instance-discovery/blob/master/kubernetes-hystrix-discovery/src/main/java/com/raffa/Tur

[2016-04-14 06:15] iocanel commented on #3
We can close this one.

[2016-04-14 06:15] #3 closed

[2016-04-14 14:53] iocanel commented on #71
@raffaelespazzoli: that's cool do u want to create a PR?

[2016-04-16 02:15] raffaelespazzoli commented on #71
I'm working on it.

[2016-04-17 00:40] raffaelespazzoli opened #78 "improvement to the pod selection logic"
Hi, currently it is assumed that the pods that are hystrix stream sources will have the ``hystrix.enabled`` label.
This may impose unnecessary constraints on the source pods. There could also be situations where multiple turbine serves need to be run in the same kubernetes cluster and there would be no way to specify which pods each turbine server should connect to.
I'd like to propose the followi

[2016-04-21 09:02] iocanel commented on #71
@raffaelespazzoli: Took things one step further and added configmap support too.

Also, migrated the whole turbine server to use spring boot and spring cloud, so we now get for free env var mapping for all turbine properties.

Thanks again for the contribution

[2016-04-21 09:02] #71 closed

[2016-04-21 09:05] iocanel commented on #54
@christian-posta: added on the spring-cloud-kubernetes side of things configmap support. This comes in 2 flavours:

- spring-boot integration with configmap (externalise application.yml to ConfigMap).
- spring-cloud-archaius integration with configap annotation based approach to intiialize archaius config by configmap.

I am wondering do we need a pure archaius/configmap integration (non-spring on

[2016-04-21 09:05] iocanel commented on #2
Our demos now support OOTB ZipKin so I think we can close now.

[2016-04-21 09:05] #2 closed

[2016-04-21 09:24] iocanel commented on #78
Here are some thoughts:

I totally agree that we need more fine grained control. I would rather we avoided using full blown selector for matching and just focused on ``hystrix.cluster`` label. Mostly because of the way turbine is configured.

So what I have in mind is something like:

1. out of the box matching is done using ``hysterix.enabled`` and the matching is namespace bound (in the current

[2016-04-21 11:11] raffaelespazzoli commented on #78
@iocanel, I see your point. I think the two approaches are essentially equivalent in terms of fine tuning the pod selection. The only difference I'd point out is that the approach you describe involves labeling the hystrix source pods. While the approach I described only involves configuring the turbine pod and therefore can be done after the fact.

[2016-04-21 11:32] iocanel commented on #78
@raffaelespazzoli: Interesting point! I like what you propose better!
Let me see how we could configure turbine to do something like that.

[2016-04-24 12:26] iocanel commented on #78
@raffaelespazzoli: Some additional thoughts.

Turbine uses the notion of a cluster which is identified by a string value. This is not some optional value, but a value that needs to be provided by the discovery mechanism.

So if we follow your suggestion, we would need to specify a "selector" and also a "name". But wouldn't that be the same with a Kubernetes Service? So maybe we should just specify

[2016-04-25 12:17] raffaelespazzoli commented on #78
@iocanel summarizing you are proposing the following mapping of concepts between kubernetes and turbine:
1. kubernetes service pod selector <-> turbine pod selector
2. kubernetes service name <-> turbine cluster name

I think this is very nice, I'd go for it.
It think we should allow to reference services that are outside the namespace turbine is running in.

Now the next question is: should we al

[2016-04-25 20:08] iocanel commented on #78
Turbine can handle more than one clusters, but each cluster is aggregated individually. So we should be able to specify multiple services and let turbine do what it does when multiple clusters are configured.

[2016-04-25 20:09] raffaelespazzoli opened #82 "kubeflix not working with kubernetes 1.2"
Hi,

I'm working with OpenShift 3.1 which aligns with kubernetes 1.1.
It looks like the new spring based framework requires configmaps to be available.
I'd like to request configmaps to be optionals and that the application starts even if they are not available

Thanks
Raffaele

[2016-04-25 20:13] iocanel commented on #82
@raffaelespazzoli: definitely!

Can you please provide some more details on the error you are having? A stack trace maybe?

[2016-04-26 01:11] raffaelespazzoli commented on #82
here is the stacktrace that I see, after which the pod dies:

please notice that the error message says that my service account doesn't have access, but that is not totally accurate, the service account I'm using has cluster-read access. I know that because I was getting the same error when spring was trying to inspect the pod and I was able to grant it access and then I started seeing this error:

[2016-04-26 01:30] raffaelespazzoli commented on #78
@iocanel could you post an example of how that configuration would look like?

[2016-04-26 08:40] iocanel commented on #78
So, now that we support multiple ways of configuring turbine, we could either specify the config via env vars or configmap.

Using env vars we would just need to specify ``TURBINE_AGGREGATOR_CLUSTERCONFIG=service1, service2, service3``.

or using ConfigMap:

    kind: ConfigMap
    apiVersion: v1
    metadata:
      name: turbine-server
    data:
      application.yml: |
        turbine.instanceUr

[2016-04-28 15:25] iocanel commented on #82
It should be fine now

[2016-04-28 15:25] #82 closed

[2016-04-28 15:27] iocanel commented on #78
Everything should be in place now.

I also added a small spock test that should make it easy to understand how it works and what's going on under the hood: https://github.com/fabric8io/kubeflix/blob/master/turbine-discovery/src/test/groovy/io/fabric8/kubeflix/turbine/TurbineDiscoveryTest.groovy

[2016-05-06 13:55] raffaelespazzoli commented on #78
thanks @iocanel for these new features.
I'm trying them and having some issues.
Here is how I configured my turbine-server pod 1.0.16:
[code]
where `mbl` is the name of the kubernetes service that controls the hystrix enabled pods.
These pods expose the hystrix stream at `:8080/mbl/hystrix.stream`. Notice the colon, it's not there in your doc, but I think it's needed.
Also notice that I'm using TU

[2016-05-06 14:38] iocanel commented on #78
@raffaelespazzoli:

regarding the the missing coln, you are right. it should be there.
you are also right the the spring way of doing things would be using ``TURBINE_INSTANCEURLSUFFIX``

I'll update the docs, check again and add even more tests.

[2016-05-06 14:55] raffaelespazzoli commented on #78
will `TURBINE_INSTANCEURLSUFFIX` need some special handling? How does spring know where to put the uppercase letters to get to what turbine expects: `turbine.instanceUrlSuffix`

thanks
Raffaele

[2016-05-06 15:13] iocanel commented on #78
no special handling is needed I think that spring under the hood just converts to uppercase and replaces dots with underscores.

[2016-05-06 19:38] raffaelespazzoli commented on #78
@iocanel
I'm looking at the turbine discovery logic. I see logic to select pods with `hystrix.enabled=true` or pods that have a label `hystrix.cluster` if the turbine cluster property has been initialized.
I thought the design was that if the turbine cluster property is initialized those cluster names would be interpreted as kubernetes services names and turbine would discover all the pods selecte

[2016-05-06 22:01] iocanel commented on #78
@raffaelespazzoli:

if you check at https://github.com/fabric8io/kubeflix/blob/e39c223a46efe82013b244b30b7a769392a4e553/turbine-discovery/src/main/java/io/fabric8/kubeflix/turbine/TurbineDiscovery.java#L44 you'll see that if one or more clusters have been specified then it looks for endpoints named after the cluster. if not it searches for ``hystrix.enabled`` endpoints in the specified namespace.

[2016-05-07 01:54] raffaelespazzoli commented on #78
I can't find a good javadoc for the kubernetes client api, what is an "endpoint" in that api? Pods or Services?
I'll give it another try and then if unsuccessful I may have to revert to my code.

Based on our conversations my expectations on the behavior is the following:

1. if `turbine.aggregator.namespaceConfig` is set look in those namespaces, otherwise look in the current namespace.
2. if `tu

[2016-05-07 17:24] iocanel commented on #78
@raffaelespazzoli: No need to go through any official channels. If not obvious we welcome collaboration from anyone regardless of the workplace ;-)

Next week I will have limited availability (travelling and meetings) and our best chance is on Monday. I think that we should get online on irc and from there schedule a call.

[2016-05-07 18:19] iocanel commented on #78
I was going through the points form 1 to 4 and I don't like the fact that there is a lot of mapping involved.

In one case we map services to clusters, in the other we map namespaces to clusters. This alone is enough to cause headache and its also somehow limiting (doesn't allow a cluster of multiple services).

I was wondering if it made sense to be able to define exactly what a cluster should co

[2016-05-08 00:13] raffaelespazzoli commented on #78
@iocanel not sure what you mean by irc, I sent you an invite in LinkedIn we can connect from there.

Regarding your comment: in my mind there is only one mapping: kubernetes services to turbine cluster.

Then namespace is a different subject, it is where should the services should be looked for. Namespaces can be used for a lot of different purposes in kubernetes, but in OpenShift they assume the

[2016-05-08 07:31] iocanel commented on #78
By ``irc`` I meant a chat which could allow a somewhat more direct way of communication than github or linkedin. See: http://fabric8.io/community/

There is the mapping of services to clusters, but if no services are specified the namespace is used as cluster name and that is confusing.

I completely missed your original point on ``fully qualified`` and I totally agree that this is the way to go.

[2016-05-09 10:38] iocanel commented on #78
I added a pull request with those ideas. I will be around for the next couple of hours, so we could talk about that stuff.

[2016-05-10 00:21] raffaelespazzoli commented on #78
ok looks good to me. I'll try it out as soon as the PR hits the master branch.

Thanks
Raffaele

[2016-05-10 15:47] rafabene opened #90 "Unable to connect to Command Metric Stream. (with Kubeflix 1.0.16 and 1.0.17)"
When I deployed Kubeflix 1.0.16 that uses openzipkin/zipkin-query:1.39.3 image I just see the following messages when I open the hystrix-dashboard:

- Unable to connect to Command Metric Stream.
- Unable to connect to Thread Pool Metric Stream.

In the Turbine Pod log I see a lot of exceptions:

[code]

[2016-05-11 09:06] iocanel commented on #90
I think that 1.0.16 had a couple of issues that have already been fixed in the context of #78.

We should have a new release with the fixes soon

[2016-05-12 01:21] raffaelespazzoli commented on #78
@iocanel

A couple of updates, I built project locally from your project and misc branch and deployed in our cluster.
I’m using the following configuration for the turbine-serve pod:

         - name: TURBINE_AGGREGATOR_CLUSTERSCONFIG
           value: mbl
         - name: TURBINE_AGGREGATOR_CLUSTERS_MBL
           value: digitalchannel.mbl

I see from the log that turbine finds two pods as expect

[2016-05-12 01:25] raffaelespazzoli opened #92 "using kubeflix to monitor hystrix sources from outside the kubernetes cluster"
Hi,

I have a use case where we would like to deploy a hystrix console + turbine inside an OpenShift cluster to monitor hystrix sources that reside outside the cluster.
Is it possible to specify which turbine discovery policy to use?

Thanks
Raffaele

[2016-05-12 08:11] iocanel commented on #92
No, currently there is no way to use a custom instance discovery implementation, but it shouldn't be hard to do so.

[2016-05-12 08:45] iocanel commented on #92
Until, we get this sorted there is an alternative.

The alternative is to define kubernetes endpoints for the external resources. for example:

    apiVersion: v1
    kind: Endpoints
    metadata:
      labels:
        hystrix.enabled: "true"
      name: myendpoint
    subsets:
    - addresses:
      - ip: <add external ip here>
      ports:
      - port: 80
        protocol: "TCP"

[2016-05-12 18:39] raffaelespazzoli commented on #78
@iocanel

a couple of updates:

On the `hystrix.enabled` approach. The pod selection seems to not be scoped by the namespace in which turbine is running. In fact it returns all the `hystrix.enabled` services of the OpenShift/Kubernetes  cluster. This makes things very difficult/confusing to manage when there are several hystrix enabled projects or the same projects is deployed multiple times for m

[2016-05-13 03:09] rafabene commented on #90
The issue still happening with 1.0.17

[2016-05-13 15:37] iocanel commented on #90
@rafabene: sorry to hear that.

It seems that instances are discovered, but for some reason turbine can't "see" the metrics stream.
I guess that I could possibly try to reproduce that issue by using the steps described here https://github.com/redhat-helloworld-msa/helloworld-msa, right?

[2016-05-13 15:47] rafabene commented on #90
Exactly. I'm using https://github.com/redhat-helloworld-msa/helloworld-msa as my test environment for Kubeflix

[2016-05-13 15:50] iocanel commented on #90
Ok, I am already on it. I guess I should try to test future releases against that or even write some system tests, so that we avoid regressions.

[2016-05-13 16:00] rafabene commented on #90
Thanks. That would be great

On Fri, May 13, 2016 at 11:50 AM, Ioannis Canellos <notifications@github.com

--
*Rafael Benevides | Senior Product Manager*
Director of Developer Experience
M: +1-919-592-6255

Better technology. Faster innovation. Powered by community collaboration.
See how it works at www.redhat.com

[2016-05-13 16:44] iocanel commented on #90
On a clean vagrant environment (using the fabric8 vagrant image) I used the following steps:

https://github.com/redhat-helloworld-msa/helloworld-msa/blob/master/create-project.adoc
https://github.com/redhat-helloworld-msa/helloworld-msa/blob/master/kubeflix.adoc
https://github.com/redhat-helloworld-msa/helloworld-msa/blob/master/ola.adoc
https://github.com/redhat-helloworld-msa/helloworld-msa/blo

[2016-05-16 13:42] iocanel commented on #78
@raffaelespazzoli: for scoping of the current namespace to work, we need to tell the client which is the namespace. Usually we do that by adding the namespace as an env var using a field reference.

      - env:
        - name: KUBERNETES_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace

[2016-05-18 15:12] iocanel commented on #78
@raffaelespazzoli: So, turbine internally allows and expects each cluster to define its own suffix. So if you define a cluster (e.g. ``mycluster``) turbine accepts to find a property called ``turbine.instanceUrlSuffix.mycluster`` that defines the suffix. If the property is missing it will just barf.

I added that property locally in my tests and everything seems to work fine now.

[2016-05-18 18:31] #54 closed

[2016-05-18 21:40] christian-posta commented on #54
Crap I missed this notification! Let me give this a try :)

On Thursday, April 21, 2016, Ioannis Canellos <notifications@github.com>
wrote:

--
*Christian Posta*
twitter: @christianposta
http://www.christianposta.com/blog
http://fabric8.io

[2016-05-19 06:24] iocanel commented on #54
@christian-posta: happens to me all the time :-)

[2016-05-23 20:16] iocanel commented on #90
@rafabene: Do you still have issues with this? I didn't have much luck reproducing it.

[2016-05-23 23:15] rafabene commented on #90
Sorry @iocanel but It seems that it's working now. Everything perfect with 1.0.17

[2016-05-23 23:15] #90 closed

[2016-05-24 05:33] iocanel commented on #90
@rafabene: np! I am really glad that its working again :-)

[2016-06-02 19:27] raffaelespazzoli commented on #78
we can close this issue for me.

[2016-06-02 19:28] raffaelespazzoli commented on #92
This is a good approach, we can close this issue for me.

[2016-06-02 19:28] #78 closed

[2016-06-02 19:29] #92 closed

[2016-06-16 19:02] ahillman3 opened #93 "Namespace issue using zuul-proxy as a basis for a zuul proxy in kubernetes"
I have taken your example zuul-proxy, and modified it for my own use.
I'm having issues getting the namespace to be set when looking up endpoints exposed through zuul.
I can see the services being mapped to ZuulController.
When I try to hit those mapped URL paths, I see an error in the logs:
_KubernetesServerList : Did not find any endpoints in ribbon in namespace [null] for name [xxxx] and portNa

[2016-06-16 19:12] iocanel commented on #93
@ahillman3: Older version of kubernetes didn't provide a direct way of letting the pod know of its namespace, so we've been extensively using a trick "pass the namespace as environment variable".
We do that by creating an env variable which point to the "metadata.namespace" field of the pod.

    spec:
      containers:
      - env:
        - name: KUBERNETES_NAMESPACE
          valueFrom:

[2016-06-16 19:17] ahillman3 commented on #93
I'll try that. Thanks.

[2016-06-16 20:07] ahillman3 commented on #93
That appears to have fixed the namespace issue.
The next issue, is either a RibbonRoutingFilter error with a Forwarding Error, caused by a timeout. (http->http)
Or  caused by "SSLException: Unrecognized SSL message, plaintext connection?" (https->https)
I have switched the LoadBalancers in AWS to be both http or both https, with the above results. Ultimately I'd like everything to be https. Is for

[2016-06-17 05:19] iocanel opened #94 "Zuul Proxy: SSLException: Unrecognized SSL message, plaintext connection"

[2016-06-17 05:21] iocanel commented on #93
Since the namespace issue has been resolved I created new issue fro the SSL sutff at #94.
@ahillman3: can you please provide some more details (full stack traces etc) at #94?

[2016-06-17 05:21] #93 closed

[2016-08-03 14:37] rblazquez opened #100 "hello-ribbon-springboot does not have ribbon example"
Cannot see any ribbon related code on kubeflix/examples/hello-world/hello-ribbon-springboot/

I see hystrix things but nothing on ribbon.

[2016-08-04 07:59] iocanel commented on #100
Ribbon is used under the hood via resttemplate.

[2016-08-04 09:12] rblazquez commented on #100
ohh ... thanks for the information but that way it becomes dificult to understand how to use it in my own project. I am trying to build the same thing (spring-boot + kubernetes + ribbon) but i am a bit lost about how the different pieces fit together.

[2016-08-17 10:09] jstrachan opened #107 "upgrade the kubernetes-client and mockwebserver/groovy/spock dependencies"
looks like kubeflix is using a really old version of kubernetes-client. Upgrading caused issues with mockwebserver - so maybe that needs to migrate to the io.fabric8 one?

Not totally sure - figure @iocanel you'd know better :)

[2016-08-17 10:11] jstrachan commented on #107
see errors if we try: https://github.com/fabric8io/kubeflix/pull/106

[2016-09-16 01:14] rafabene opened #121 "Error deploying in Openshift Origin 1.3"
The following error happened when I tried to deploy in Openshift 1.3 using 'oc create -f http://central.maven.org/maven2/io/fabric8/kubeflix/packages/kubeflix/1.0.20/kubeflix-1.0.20-kubernetes.yml'

`":"kubeflix","project":"kubeflix","provider":"fabric8","version":"1.0.20"}: `selector` does not match template `labels`
Error from server: Deployment.extensions "turbine-server" is invalid: spec.templ

[2016-09-16 09:12] iocanel commented on #121
May be a side effect of the upgrade to the new f-m-p. Will take a look.

[2016-09-19 20:10] wrichter commented on #121
Same for the -openshift variant (in OpenShift Enterprise 3.3) - first the oc command complains about duplicate objects, then the event trail show the same error message as above:

$ oc create -f http://central.maven.org/maven2/io/fabric8/kubeflix/packages/kubeflix/1.0.20/kubeflix-1.0.20-openshift.json
serviceaccount "ribbon" created
serviceaccount "turbine" created
service "hystrix-dashboard" crea

[2016-10-01 12:36] #100 closed

[2016-10-01 12:37] iocanel commented on #100
I closed this issue, cause I don't think there is anything more we can do here.

[2016-10-01 12:37] iocanel commented on #107
This has been already fixed as of https://github.com/fabric8io/kubeflix/commit/f837d26998183ad52d764bfceb6f8323ffd32ff7

[2016-10-01 12:37] #107 closed

[2016-10-01 15:13] iocanel commented on #121
So there are two issues here:

i) in openshift you should use: http://central.maven.org/maven2/io/fabric8/kubeflix/packages/kubeflix/1.0.20/kubeflix-1.0.20-openshift.yml
ii) there is a bug in the aggregator package, which will be addressed shortly.

[2016-10-21 09:30] cmoulliard opened #134 "NoSuchMethodError: org.springframework.cloud.commons.util.InetUtils.<init>(Lorg/springframework/cloud/commons/util/InetUtilsProperties;)"
The pod created using this openshift template ("oc create -f http://central.maven.org/maven2/io/fabric8/kubeflix/packages/kubeflix/1.0.23/kubeflix-1.0.23-kubernetes.yml") crashes

See the error reported by Spring during bootstraps

[code]

[2016-10-21 13:55] iocanel commented on #134
Until I push a fix, remove the spring-cloud-kube rented-compat jar  and u should be fine.

[2016-10-24 16:06] stevef1uk opened #137 "Build failure"
Just tried to build this following the readme

INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Kubeflix :: Examples :: LoanBroker :: Broker 1.0-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[WARNING] The POM for io.fabric8.kubeflix:ribbon-discovery:jar:1.0-SNAPSHOT is missing, no dependency information

[2016-10-24 20:08] jstrachan commented on #137
I think you need to do a build in the top directory first to get the dependencies for the example built?

[2016-10-25 09:32] #134 closed

[2016-10-25 09:32] iocanel commented on #121
This can be closed now

[2016-10-25 09:32] #121 closed

[2016-10-31 19:49] jamesnetherton opened #150 "Permission denied deploying Hystrix Dashboard 1.0.26 image on OpenShift"
Not sure what version of the Jetty 9 base image `fabric8/hystrix-dashboard:1.0.26` is using, but I hit permissions issues on OpenShift. Seems ok if I build & deploy using `fabric8/jetty-9:1.1.10` as the base image.

Pod logs:
[code]

[2016-11-06 09:38] #137 closed

[2016-11-14 10:48] andrewrutter opened #154 "Unable to build the loan broker example"
I was getting the following error when trying to build the broker application under the loan broker example:
[code]

I changed the pom to include the current version for the ribbon-discovery dependency which allowed the build to go through.
[code]

[2016-12-20 10:02] stefaneg opened #161 "Fixed version build without examples"
I'm wrapping my head around how to get this tool into our configuration management. What I'm looking for:

a. Have a defined and fixed version of all libraries deployed (no snapshots).
b. Use defined and fixed version of all maven plugins (or skip them all together and use dockerfiles directly if possible)
b. Skip all examples. Only deploy turbine, appropriate discovery modules and hystrix dashboa

[2016-12-20 10:09] iocanel commented on #161
All maven artifacts are available on maven central and docker images on dockerhub.

Kubernetes/Openshift manifests are also availble as maven artifacts on central:

http://repo1.maven.org/maven2/io/fabric8/kubeflix/turbine-server/1.0.26/
http://repo1.maven.org/maven2/io/fabric8/kubeflix/hystrix-dashboard/1.0.26/

[2016-12-20 10:26] stefaneg commented on #161
Yes. My current strategy is create a maven project pulling in those manifest/jar/war dependencies instead of building them, changing docker user to push to internal docker repo, and using the fabric8 maven docker build plugins to build and push docker images.

[2016-12-20 10:47] iocanel commented on #161
So, can we close this?

[2016-12-20 10:54] stefaneg commented on #161
Still looks non-trivial to me. My strategy mentioned above does not seem to be possible since the building of the docker images is coupled with the war maven project itself, so its not wired to download the war and then build a docker image like I expected. So it looks to me that the only viable option (without a lot of work) is to fork the kubeflix project, remove what I don't want from it, and b

[2016-12-20 11:11] iocanel commented on #161
Can't you just pull the image from dockerhub and just push it to your internal repo? Do you have to build it from source?

[2016-12-20 11:17] stefaneg commented on #161
Yes I probably can. I was under the impression that I had to build the docker image with the repository specified, but it seems that I can tag it independently. http://stackoverflow.com/questions/28349392/how-to-push-a-docker-image-to-a-private-repository

[2016-12-20 11:29] iocanel commented on #161
Yay!

[2016-12-20 11:44] stefaneg opened #162 "Hystrix dashboard v 1.4.9 buggy"
https://github.com/Netflix/Hystrix/issues/827

1.4.13 does not have this issue.

[2016-12-20 15:56] #161 closed

[2016-12-23 09:59] stefaneg commented on #162
All that is required to fix this is to update hystrix.version to 1.4.13 in pom.xml

[2016-12-23 16:19] andrewrutter opened #165 "Unable to run the loan broker example on a K8 cluster"
I am trying to run the loanbroker sample but the services are failing to start. An example from the credit bureau is below. Please help been trying to stand this up as an example on using kubeflix over the naive Spring cloud approach but cannot get past this one.

Thanks,
Andrew

[code]

[2017-01-10 13:03] stefaneg commented on #162
Any chance this will be addressed? Was hoping I would not have to create a fork.

[2017-01-10 13:18] iocanel commented on #162
@stefaneg: Can you please update your pull request and update to hystrix 1.5.3.?

[2017-01-11 00:14] stefaneg commented on #162
Will do.

On Jan 10, 2017 1:18 PM, "Ioannis Canellos" <notifications@github.com>
wrote:

[2017-01-11 10:07] stefaneg commented on #162
Done.

[2017-01-13 10:49] iocanel commented on #162
@stefaneg: Thanks for the pull request. its now merged and we will release shortly.

[2017-02-03 12:53] iocanel commented on #165
@andrewrutter: what is the service account your pods are using?

[2017-02-03 12:53] #162 closed

[2017-02-03 12:55] iocanel commented on #154
Do you still have this issue?

[2017-02-03 12:56] #150 closed

[2017-02-22 15:31] deelthor opened #173 "reportingHostsLast10Seconds always 1"
I tried out the hello-hystrix example. I scaled up the pods to 6 instances. But when deploying hystrix-dashboard and turbine-server I only see 1 host on the dasboard and the turbine stream also shows "reportingHostsLast10Seconds":1. Alhough in the turbine logs I can see that 6 hosts were discovered.

I ran the example on my local minikube.

Thanks,
Thorsten

[2017-06-08 14:33] caarlos0 opened #182 "turbine: how to make clusters work"
I've tried to make the `?cluster=blah` work, but it won't. I'm pretty sure I'm missing something, but I'm not really sure what.

So far, I'm creating everything with this yaml:

[code]

I also enabled some services by annotating them:

[code]

I'm not sure where I should put them, though. Should it be in the service or in the deployment?

Anyways, by doing this, I can access the `turbine-server` E

[2017-06-09 07:07] iocanel commented on #182
In the readme (in the root of the kubeflix project) there is a section that explains how you can configure the turbine server using a ConfigMap. It also explains that if you want to configure additional clusters you will have to add them to the turbine configuration with something like: `turbine.aggregator.cluster.svc1=<namespace>.<service>`.

[2017-06-09 12:51] caarlos0 commented on #182
hi @iocanel , thanks for the quick response..

I failed to understand that part of the readme for some reason, I thought I needed to setup the config map somewhere, but it just magically works, nice :)

It's working now, thank you very much!

[2017-06-09 12:51] #182 closed

[2017-06-26 00:37] bidonmegale opened #186 "Exception while initializing NIWSDiscoveryLoadBalancer:hello-hystrix, niwsClientConfig:ClientConfig:ConnIdleEvictTimeMilliSeconds:30000, ProxyHost:null, VipAddress:null"
Hello all,

I am try to run this sample but I got those error when access the ribbon service in kubernetes:

kubectl get services:
NAME            CLUSTER-IP   EXTERNAL-IP   PORT(S)        AGE
hello-hystrix   10.0.0.162   <pending>     80:32210/TCP   6m
hello-ribbon    10.0.0.26    <pending>     80:32199/TCP   6m
kubernetes      10.0.0.1     <none>        443/TCP        7m

Url: http://192.168.99.

[2017-06-26 20:04] bidonmegale commented on #186
Apply the pull-request "NullPointerException while getting list of services has been fixed." fix those problem.

Is it stable to use in production mode?

[2017-07-15 02:35] prasenforu opened #191 "Docker image"
I tried to build it's failed.

I am not a developer, purely Infra guy.

Is it possible create docker images of all containers and push to docker hub so people can use easyly.

Anyway it's a nice example.

Thanks in advance.

[2017-10-18 15:49] zavalit opened #198 "hello-ribbon example responses first with status code 500 and then with 503"
Hi've build/deployed "hello-world" example against minikube (kubernetes v1.7.5)

[code]
here is a complete log: https://gist.github.com/zavalit/df74424786136ecedf855daa29d09e9c

and after a minute
[code]
here is complete log: https://gist.github.com/zavalit/ac366b41bb89d76055e3338635b79b4e

Meanwhile both **hello-hystrix** and **hello-ribbon-spring-boot** are running like specified.

[2017-11-28 14:14] debajyoti1d1mukherjee opened #202 "Kubeflix turbine-server is not starting up in Kubernetes version -v1.7.4-1+1540c973d4ff9d"
Kubernetes Cluster Hosted in IBM Cloud with version v1.7.4-1+1540c973d4ff9d

**Steps we have done .**
1. cloned the source code from git hub  and
[turbine-server.zip](https://github.com/fabric8io/kubeflix/files/1510178/turbine-server.zip)

**You can find the deployment.yml and service.yml in
turbine-server\src\main\fabric8 location**

changed required jar dependency
2. Build Image
3. Pushed Image

[2017-12-04 00:57] debajyoti1d1mukherjee commented on #202
**I also tried with this 👍 kubectl apply -f http://central.maven.org/maven2/io/fabric8/kubeflix/turbine-server/1.0.28/turbine-server-1.0.28-kubernetes.yml**
**I  got the below error:**
15:53:45.939 [main] DEBUG io.fabric8.kubernetes.client.Config - Trying to configure client from Kubernetes config...
15:53:45.956 [main] DEBUG io.fabric8.kubernetes.client.Config - Did not find Kubernetes config at:

[2017-12-04 17:24] alexsorkin commented on #191
This project seems to be dead, like all the rest of fabric8io.

RIP

[2018-08-25 06:21] j-ajendra opened #207 "Support for Openshift"
Can we have a configuration to change the environment to openshift for turbine?